body{
  background-color: black;
}

ul {
  list-style-type: armenian;
}


li {
  color: firebrick;
  
}

li + li {
  margin-top: 27px;
}

button{
  color: rebeccapurple;
  font-weight: bold;
  background-color: moccasin;
  border: 2px solid mediumseagreen;
}